*
{
    outline: none;
}
body
{
    background-color: #081c15;
    font-family: 'Staatliches', sans-serif;
}

h1
{
    box-sizing: border-box;
    color: white;
    width: fit-content;
    margin: 25px auto auto auto;
    font-size: 45px;
    border-bottom: 8px solid white;
    line-height: 58px;
}

h1::first-letter
{
    color:#52b788;
    font-size: 1.5em;
}

h1 span
{
    text-decoration: underline #40916c 5px;
    
}

.form
{
    
    display: inline-block;
    margin: 50px 25% 10px 25%;
    width: 50%;
    
}

.box
{
    box-shadow: 0.5px 0.5px 3px 3px rgba(10, 26, 19, 0.747);
}

.itemsgroup
{
    background: #173a2a;
    color:#52b788;
    
}


.item
{
    background: #307958;
    border: 2px solid #307958;
    border-radius: 1%;
    color: white;
}
.wrapper
{
    z-index: 1;
    background:#22523ed0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.popup{
    font-family: arial;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    padding: 20px;
    background:#173a2a;
    color: white;
    position: relative;
}
.name
{
    
    letter-spacing: 1.5px;
    font-size: 25px;
    font-weight: bold;

}
.name::first-letter
{
    font-size: 1.5em;
    color:#40916c;
}
.success
{
    background:#1b4332;
    color:#40916c;
    font-size: 25px;
    width: 50%;
    margin: 0 auto;
    font-family: monospace;
    font-weight: bold;
   
}
.fail
{
    background:#9e222d;
    color:#f1f1f1;
    font-size: 25px;
    width: 50%;
    margin: 0 auto;
    font-family: monospace;
    font-weight: bold;
}
.close-popup
{
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
}

.form-group
{
    display: block;
    padding: 5px 10px;
    margin: 10px 8px;
}

.inputs input:nth-of-type(n),.inputs label:nth-of-type(n)
{
    margin-left: 10px;
}

.label
{
    display: block;
}
.center
{
    margin: 0 auto;
    width: max-content;
}
.form-group button
{
    
    text-align: center;
    
    margin: 5px 5px;
    padding: 10px;
    font-size: 0.9rem;
    background: #2d6a4f;
    color: #b7e4c7;
    border-radius: 2%;
    border: 2px solid #40916c;
    font-family: 'Staatliches';
}

.form-group button:hover
{
    
    background: #40916c;
    color: #b7e4c7;
}
.exit
{
    position: relative;
    float: right;
    color: #1b4332;
    cursor: pointer;
    font-size: 1.1rem;
}

.exit:hover
{
    transform: scale(1.5);
    transition: 1.5s;
}


.fade-in {
	-webkit-animation: fade-in 1.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/*
 @-webkit-keyframes fade-in{
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
*/

  @keyframes fade-in {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

  .fade-out {
	-webkit-animation: fade-out 1s ease-out both;
	        animation: fade-out 1s ease-out both;
}
 @-webkit-keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  