body
{
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat","Avenir";
    
}



h1 
{
    color: #f1f1f1;
    margin: 0 auto;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    font-weight: normal;
    line-height: 1.1;
    padding: 20px 0;
    text-transform: uppercase;
}

button
{
    border: none;
    background-color: none;
    text-transform: uppercase;
    height: 100%;
    color: steelblue;
    font-weight: 700;
    font-family: "Montserrat","Avenir";
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    outline: none;
}

.selected
{
    background-color: steelblue;
    color: #f1f1f1;
}
.square
{
    width: 30%;
    background: rgb(255, 166, 0);
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 20%;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
}

#container
{
    max-width: 600px;
    margin: 20px auto;
}

#strip
{
background-color: #f1f1f1;
height: 30px;
text-align: center;
color: black;
}

#colorDisplay
{
    font-size: 200%;
    display: block;
}

#message
{
    display: inline-block;
    width: 20%;
}

button:hover
{
    color: white;
    background-color: steelblue;
}



